/* signup.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    text-align: left;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container h2 {
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input,
.form-container button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-container button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    z-index: 99;
    background-color: rgb(174, 161, 146);
}
